header{
    background-color: #B00051;
    padding: 20px 0;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    background-color: #111111;
    color: #fff;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer div {
    width: 33.33%;
    display: inline-block;
    text-align: center;
}

.Main{
    width: 100%;
    background-color: #e2e2e2;
    padding: 20px 0;
    height: 615px;
}

form, .reviewList, .deleteMsg{
    width: 50%;
    margin: 40px auto;
    padding: 20px;
}
table{
    width: 100%;
}
td{
    background-color: #fff;
    padding: 4%;
    text-align: center;
    border-radius: 5px;
}

button.loginBtn{
    margin: 40px 0;
    width: 50%;
    background-color: #009B77;
    color: #fff;
    height: 40px;
    /* margin: auto; */
}
.logoutDiv{
    width: 20%;
    float: right;
    
}
.logoutBtn{
    color: #fff;
    background-color: rgb(163, 27, 27);
    width: 60%;
    height: 30px;
    border-radius: 5px;
}
ul{
    height: 400px;
    list-style: none;
    overflow: scroll;
}

li.review{
    background-color: rgba(225,225,225,0.3);
    width: 100%;
    height: auto;
    min-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 4px;
    backdrop-filter: blur(10px);
    border: 1px solid #202020;
}

h3{
    text-align: center;
}

.loginError{
    background-color: RGB(155, 35, 53, 0.8);
    padding: 20px;
}

.loginMsg{
    padding: 20px;
    background-color: RGB(0, 155, 119,0.8);
}
input{
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
}
.loginPage{
    background-image: url('./assets/loginBg.jpg'); 
    background-size: cover;   
}
.reviewPage{
    /* background: linear-gradient(to right, #8CA6DB, #B993D6); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('./assets/nature.jpg'); 
    background-size: cover;
}
.loginForm form{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.review{
    padding: 10px 5px;
}
.userImg{
    width: 20%;
    display: inline-block;
}
.reviewDesc{
    width: 58%;
    display: inline-block;
    border-left: 1px solid #202020;
    border-right: 1px solid #202020
}
.reviewDetail{
    width: 20%;
    display: inline-block;
}
.comment{
    background-color: #e2e2e2;
    margin: 0 20px;
}
.addNew{
    width: 20%;
    float: right;
}
.addNewBtn{
    color: #fff;
    background-color: seagreen;
    width: 80%;
    height: 40px;
}
.newReview h3{
    background-color: seagreen;
    padding: 20px 0;
    width: 80%;
}
.newReview button, .deleteMsg button{
    width: 40%;
    height: 50px;
    background-color: rgb(0, 201, 100);
    color: #fff;
}
.newReview .goBack{
    background-color: tomato;
}
.newReview form{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blue(20px);
}
.editReview{
    width: 40%;
    margin-right: 5%;
    background-color: rgba(85, 236, 72, 0.5);
}
.deleteReview{
    width: 40%;
    background-color: rgba(241, 0, 0, 0.5);
}
img{
    width: 50%;
}